/* setting our universal selector */
* {
  box-sizing: border-box;
  margin: 0;
}

#headshot {
  width: 200px;
  border-radius: 50%;
}

#about-me {
  padding: 0px 25px;
}

#about-me h1 {
  font-size: 48px;
  color: white;
}

#about-me img {
  margin: 25px 0px;
}

#about-me p {
  font-size: 24px;
  color:white
}


/* setting the background color of the page */
body {
  background-color: #251e1e;
}

/* styling text within <p> tags */
p {
  font-size: 20px;
  color: white
}

/* making images blocks to get rid of gaps */
img {
  display: block;
}

/* styling header at top of page */
header {
  padding: 20px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #251e13;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* styling "Mike Pizzica" text */
header>h1 {
  font-size: 64px;
  background-color: #b84848;
  padding: 10px 40px;
  margin: 0px 25px;
}

/* styling the header img */
header>img {
  max-height: 250px;
}

/* styling the right header text */
header>nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* styling the li so the items are spaced out */
header>nav>li {
  padding: 20px;
  list-style-type: none;
}

/* syling the text within the li */
header>nav>li>a {
  color: #b84848;
  text-decoration: none;
  border-bottom: #b84848 4px solid;
}

header>nav>li>a:hover {
  color: #beb2b2;
  text-decoration: none;
  border-bottom: #beb2b2 4px solid;
}

/* styling the articles */
article {
  display: flex;
  margin-bottom: 45px;
}

/* styling the article sections */
article>section {
  flex: 4;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  display: flex;
}

#work-text {
  text-align: center;
  font-size: 36px;
}

/* styling the main project */
#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.project {
  position: relative;
  background-color: rgba(255, 255, 255, 0.897);
}

.project-images {
  width: 600px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 50px;
  text-align: center;
  padding: 0px;
}

.project:hover .project-images {
  opacity:0.4;
}

.project:hover .project-info {
  opacity:1;
}

.project-info > a {
  color: #251e1e;
  font-size: 50px;
  text-decoration: none;
}

.project-names:hover {
  opacity: 0.5;
}

.github-logos:hover {
  opacity: 0.5;
}

.github-logos {
  width: 50px;
}

/* styling links in the contact section */
#contact a {
  color: white;
  text-decoration: none;
  border-bottom: white 4px solid;
  font-size: 24px;
}

#footer {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  margin-bottom: 30px;
}

#github-logo-white:hover {
  opacity: 0.5;
}

#github-logo-white {
  width: 50px;
  margin: 0px 15px;
}

#linkedin-logo-white:hover {
  opacity: 0.5;
}

#linkedin-logo-white {
  width: 50px;
  margin: 0px 15px;
}