/* setting our universal selector */
* {
  box-sizing: border-box;
  margin: 0;
}

/* setting the background color of the page */
body {
  background-color: #251e1e;
}

/* styling text within <p> tags */
p {
  font-size: 20px;
  color:white
}

/* making images blocks to get rid of gaps */
img {
  display: block;
}

/* styling header at top of page */
header {
  padding: 20px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #251e13;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

  /* styling "Mike Pizzica" text */
  header > h1 {
      font-size: 64px;
      background-color: #b84848;
      padding: 10px 40px;
  }

  /* styling the header img */
  header > img {
      max-height: 250px;
  }

  /* styling the right header text */
  header > nav {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 36px;
      display: flex;
  }

      /* styling the li so the items are spaced out */
      header > nav > li {
          padding:20px;
          list-style-type: none;
      }   

          /* syling the text within the li */
          header > nav > li > a {
              color: #b84848;
              text-decoration: none;
              border-bottom:#b84848 4px solid;
          }

          header > nav > li > a:hover {
              color: #beb2b2;
              text-decoration: none;
              border-bottom:#beb2b2 4px solid;
          }

/* setting a consistent 50px padding to the right of all content */
main {
  padding-right: 50px;
}

  /* styling the articles */
  article {
      display:flex;
      margin-bottom: 45px;
  }

      /* styling the article asides */
      article > aside {
          flex: 1;
          text-align: right;
          border-right: 5px solid white;
      }

          /* styling text within the article asides */
          article > aside > p {
              font-size:48px;
              padding-right: 15px;
          }

      /* styling the article sections */
      article > section {
          flex: 4;
          padding-left: 25px;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          display: flex;
      }

          #work-text {
              text-align: center;
              font-size: 36px;
          }
          /* styling the main project */
          #main-project {
              border:#b84848 solid 5px;
              flex: 0 0 100%;
              margin: 0px 10px 10px 10px;
              position: relative;
          }

          /* styling the main project header */
          #main-project header {
              padding: 20px;
              background-color: #b84848;
              position: absolute;
              bottom: 5px;
              left:-1px
          }

          /* styling all other projects */
          .project {
              border:#b84848 solid 5px;
              flex: 0 0 49%;
              margin: 0.5%;
              position: relative;
              flex-wrap: wrap;
          }
          
          /* styling all other project headers */
          .project header {
              padding: 20px;
              background-color: #b84848;
              position: absolute;
              bottom: 5px;
              left:-1px;
          }

          /* styling the images for projects to display their full widths */
          article > section > div img {
              width: 100%;
          }

          /* styling links in the contact section */
          #contact a {
              color: white;
              text-decoration: none;
              border-bottom: white 4px solid;
              font-size: 24px;
          }