html {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* setting our universal selector */
* {
  box-sizing: border-box;
  margin: 0;
}

/* setting the background color of the page */
body {
  background-color: #251e1e;
}

/* header css */
header {
  color: #251e13;
  margin: 25px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

header>h1 {
  background-color: #b84848;
  margin: 0px 25px;
  padding: 10px 40px;
  font-size: 64px;
  text-align: center;
}

header>nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 36px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-NavLink {
  color: #b84848;
  text-decoration: none;
  border-bottom: #b84848 4px solid;
  margin: 20px;
}

.text-NavLink:hover {
  color: #beb2b2;
  text-decoration: none;
  border-bottom: #beb2b2 4px solid;
}

.current {
  color: #beb2b2;
  text-decoration: none;
  border-bottom: #beb2b2 4px solid;
}

header>nav>li>a {
  color: #b84848;
  text-decoration: none;
  border-bottom: #b84848 4px solid;
}

header>nav>li>a:hover {
  color: #beb2b2;
  text-decoration: none;
  border-bottom: #beb2b2 4px solid;
}

/* default styling section containers (about/portfolio/contact/resume) */
section {
  padding: 0px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section > h1 {
  font-size: 48px;
  text-align: center;
  color: white;
  width: 100%;
}

/* css for about me section */
#headshot {
  width: 200px;
  border-radius: 50%;
  margin: 25px 0px;
}

#about-me p {
  font-size: 24px;
  color:white;
  width: 100%;
}

/* css for portfolio section */
#portfolio {
  gap: 25px;
}

.project {
  position: relative;
  background-color: rgba(255, 255, 255, 0.897);
}

.project-images {
  width: 100%;
  max-width: 600px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.project:hover .project-images {
  opacity:0.3;
}

.project:hover .project-info {
  opacity:1;
}

.project-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 40px;
}

.project-names {
  color: #251e1e;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: 1.5px #b84848;
  text-decoration: none;
}

.project-names:hover {
  opacity: 0.5;
}

.github-logos {
  width: 50px;
}

.github-logos:hover {
  opacity: 0.5;
}

/* css for contact section */
label {
  display: inline-block;
  padding-top: 25px;
  font-size: 24px;
  color: white;
}

input {
  width: 100%;
  max-width: 390px;
}

textarea {
  width: 100%;
  max-width: 390px;
}

#submit {
  width: 100px;
}

#submit-confirm {
  font-size: 24px;
  color:white;
  width: 100%;
  text-align: center;
}

/* css for OLD contact section */
/* #contact a {
  margin-top: 25px;
  color: white;
  text-decoration: none;
  border-bottom: white 4px solid;
  font-size: 24px;
} */

/* css for resume section */
#resume {
  display: block;
  text-align: center;
}

#resume > h1 {
  margin-bottom: 25px;
}

#resume > a {
  color:white;
  font-size: 24px;
}

#proficiencies {
  max-width: 300px;
  margin: auto;
  text-align: left;
}

#resume > div > p {
  color:#ffffff;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

#resume > div > li {
  color: white;
  font-size: 24px;
}

/* css for footer */
#footer {
  display: flex;
  justify-content: center;
  margin: 75px 0px 25px 0px;
}

#github-logo-white {
  width: 50px;
  margin: 0px 15px;
}

#github-logo-white:hover {
  opacity: 0.5;
}

#linkedin-logo-white {
  width: 50px;
  margin: 0px 15px;
}

#linkedin-logo-white:hover {
  opacity: 0.5;
}

/* media query for mobile devices */
@media screen and (max-width: 1100px),
screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px)  {

.project-images {
  width: 100%;
}

.project-names {
  font-size: 30px;
}

.github-logos {
  width: 30px;
}

}